// Touch file.
$nav-bg-color: #333;
$nav-text-color: #fff;

$card-bg-color: #fff;
$card-padding: 20px;
$card-border-radius: 10px;
$character-name-font-size: 48px;
$character-portrait-height: 300px;

.character-name {
  text-align: center;
  font-size: $character-name-font-size;
  padding: 20px;
}

.character-card {
  max-width: 800px;
  min-height: $character-portrait-height;
  margin: 20px auto;
  background-color: $card-bg-color;
  padding: $card-padding;
  border-radius: $card-border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.img {
  max-width:98%;
  max-height:100%;
  border-radius: $card-border-radius;
}

.character-portrait {
    border-radius: $card-border-radius;
    height: $character-portrait-height;
    float: left;
    top: $card-padding;
    left: $card-padding;
    right: $card-padding;
  }

.current {
  color: green;
}

body {
  margin: 0;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #cbd2d9; /* Grey-blue background color */
}

header {
  background-image: url('../images/taverns.png');
  background-size: cover;
  background-position: center;
  height: 300px; /* Adjust the height as needed */
  position: relative;

  .header-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent black background for readability */
    padding-top: 10px;
    padding-bottom: 10px
  }
  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        padding-right: 20px;
        padding-left: 10px;

        a {
          text-decoration: none;
          color: $nav-text-color;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.content-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .content-container {
    padding: 10px;
  }
}

