<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <div class="character-name">{{ page.character_name }}</div>

  <div class="character-card">
    <div class="character-portrait">
      <img src="/assets/images/{{ page.character_name }}.jpg" alt="Character Portrait" class="img">
    </div>
    <p> <b>Player Name:</b> {{ page.player_name }}</p>
    <p> <b>Class:</b> {{ page.class }}</p>
    <p>{{ page.content }}</p>
  </div>
  </div>
</body>
</html>

